
  <div class="wrapper">
  
    <!-- Preloader -->
  
  
    <!-- Navbar -->
   <app-navbar></app-navbar>
    <!-- /.navbar -->
  
    <!-- Main Sidebar Container -->
 <app-mysidebar></app-mysidebar>
  
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
    <app-content-header [pageTitle]="'title Here'"></app-content-header>
      <!-- /.content-header -->
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <!-- Small boxes (Stat box) -->
          <button pButton type="button" label="Click" ></button>
          <p-button label="Click" ></p-button>    
          <!-- /.row -->
          <!-- Main row -->
     <router-outlet></router-outlet>
          <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
   <app-footer></app-footer>
  
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->
  
  <!-- jQuery -->
