<div class="card">
  <div class="card-header">
    <h3 class="card-title">Bordered Table</h3>
    <div class="card-tools">
      <ul *ngFor="let option of options" class="nav nav-pills ml-auto">
        <li class="nav-item">
          <a (click)="clickOption(option)" class="nav-link active">
            <i [ngClass]="option.icon"></i>
            {{option.label}}</a>
        </li>
 
      </ul>
    </div>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <table class="table table-bordered">
      <thead>
        <tr>
       <th></th>
          <th *ngFor="let col of cols">{{col.field.header}}</th>
   
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of data">
          <td>
            <div class="card">
              <div class="row">
                <div *ngFor="let optionData of d.options" class="col-md-12">
                  <button (click)="clickOption(optionData)" 
                  class="btn btn-success btn-block">
                    <i [ngClass]="optionData.icon"></i>
                    {{optionData.label}}</button>
                </div>
              
              </div>   

          </div>
        </td>
          <td *ngFor="let col of cols">{{d[col.field.name]}}</td>
     
        </tr>
      
      </tbody>
    </table>
  </div>
  <!-- /.card-body -->
  <div class="card-footer clearfix">
    <ul class="pagination pagination-sm m-0 float-right">
      <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
    </ul>
  </div>
</div>
