<div class="row">
    <div class="col-lg-3 col-6">
      <!-- small box -->
     <app-kpi-box 
     [title]="'New Orders'"
     [class]="'info'"
     [icon]="'bag'"
     [stat]="150"></app-kpi-box>
    
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <app-kpi-box 
      [title]="'Bounce Rate'"
      [class]="'success'"
      [icon]="'stats-bars'"
      [stat]="'53%'"></app-kpi-box>
    
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <app-kpi-box 
      [title]="'New People'"
      [class]="'warning'"
      [icon]="'person-add'"
      [stat]="'23'"></app-kpi-box>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-danger">
        <div class="inner">
          <h3>65</h3>

          <p>Unique Visitors</p>
        </div>
        <div class="icon">
          <i class="ion ion-pie-graph"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
  </div>